/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* MEYER RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BEGIN MAIN STYLING*/



body {
    font-family: 'Mukta', sans-serif;
    background: #40916C;
}

header {
    height: 10vh;
    background: #081C15;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    margin-bottom: 1%;
    box-shadow: 0 1px 6px 1px black;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #D8F3DC;
}

header nav {
    display: flex;
}

nav {
    margin-left: 3%;
}

nav a {
    color: #D8F3DC;
    background: #40916C;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #081C15;
    transition: .3s;
}

nav a:hover {
    color: #40916C;
    background: #D8F3DC;
}

.active {
    background-color: #D8F3DC;
    color: #40916C;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#imageDescription {
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

.largeImage {
    width: 960px;
    height: 360px;
    background-image: url('https://picsum.photos/960/360');
}

.description {
    display: flex;
    flex-flow: column wrap;
    width: 15%;
    justify-content: center;
    align-items: center;
}


h3 {
    font-size: 2rem;
    color: #D8F3DC;
}

.description p {
    font-size: 1.3rem;
    color: #D8F3DC;
}

.description a {
    text-decoration: none;
    color: #D8F3DC;
    padding: 5px 20px;
    margin: 5px 0;
    box-shadow: 0 1px 6px 1px black;
    font-size: 1.2rem;
    transition: .3s;
}

.description a:hover {
    color: #40916C;
    background: #D8F3DC;
}

.description {
    width: 480px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content:baseline;
    
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.image {
    height: 400px;
    width: 400px;
    background: url('https://picsum.photos/400/400');
    margin: 50px 0;
    border-radius: 50px;
    box-shadow: 0 1px 6px 1px black;
}

footer {
    height: 10vh;
    background: #081C15;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 -1px 6px 1px black;
}

footer a {
    text-decoration: none;
    color: #D8F3DC;
    margin-top: 10px;
    padding: 20px 40px;
    border: 1px solid #0A0908;
    font-size: 1.2rem;
    background: #40916C;
    transition: .3s;
}

footer a.contactButton:hover {
    color: #40916C;
    background: #D8F3DC;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.socialLink {
    padding: 0;
    border: none;
    background-color: transparent;
}

.socialLink:hover {
    text-decoration: underline;
}