/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* MEYER RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BEGIN MAIN STYLING*/

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: 'Mukta', sans-serif;
    background: #40916C;
}

/* HEADER */
header {
    height: 10vh;
    background: #081C15;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    margin-bottom: 1%;
    box-shadow: 0 0.1rem 0.6rem 0.1rem black;
}

header h1 {
    display: inline-block;
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: #D8F3DC;
}

header nav {
    display: flex;
}

/* NAV WITHIN HEADER */
nav {
    margin-left: 3%;
}

nav a {
    color: #D8F3DC;
    background: #40916C;
    text-decoration: none;
    padding: 1rem;
    border: 0.1rem solid #081C15;
    transition: .3s;
    font-size: 1.6rem;
}

nav a:hover {
    color: #40916C;
    background: #D8F3DC;
}

.active { /* active state for the nav */
    background-color: #D8F3DC;
    color: #40916C;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* MAIN SECTION OF THE PAGE - LARGE IMAGE WITH DESCRIPTION */
#imageDescription {
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

.largeImage {
    width: 96rem;
    height: 36rem;
    background-image: url('https://picsum.photos/960/360');
    
    border-radius: 5rem;
    box-shadow: 0 0.1rem 0.6rem 0.1rem black;
    
    margin: 5rem 2rem 5rem 0;
}


h3 {
    font-size: 3.2rem;
    color: #D8F3DC;
}

.description p {
    font-size: 2.08rem;
    color: #D8F3DC;
}

.description a {
    text-decoration: none;
    color: #D8F3DC;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    box-shadow: 0 0.1rem 0.6rem 0.1rem black;
    font-size: 1.92rem;
    transition: .3s;
}

.description a:hover {
    color: #40916C;
    background: #D8F3DC;
}

.description {
    width: 48rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
}

/* IMAGE GALLERY */
#gallery {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5rem;
}

.image {
    height: 40rem;
    width: 40rem;
    background: url('https://picsum.photos/400/400');
    margin: 5rem 0;
    border-radius: 5rem;
    box-shadow: 0 0.1rem 0.6rem 0.1rem black;
}

/* FOOTER */
footer {
    height: 10vh;
    background: #081C15;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 -0.1rem 0.6rem 0.1rem black;
}

footer a {
    text-decoration: none;
    color: #D8F3DC;
    margin-top: 1rem;
    padding: 2rem 4rem;
    border: 0.1rem solid #0A0908;
    font-size: 1.92rem;
    background: #40916C;
    transition: .3s;
}

footer a.contactButton:hover {
    color: #40916C;
    background: #D8F3DC;
}

/* SOCIAL BUTTONS ON THE FOOTER */
.socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.socialLink {
    padding: 0;
    border: none;
    background-color: transparent;
}

.socialLink:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
    
    body {
        width: 100%;
    }

    /* HEADER AND NAV */
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        padding: 3rem 0;
        text-align: center;
        background: #40916C;
        box-shadow: none;
        height: max-content;
    }

    header h1 {
        display: block;
        font-size: 4rem;
    }
    
    header nav {
        display: flex;
        flex-flow: column nowrap;
        width: 10rem;
        margin: 0;
        font-size: 1.5rem;
    }
    

    /* LARGE IMAGE AND DESCRIPTION */
    #imageDescription {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 80vw;
    }
    
    .largeImage {
        width: 36rem;
        height: 28rem;
        background-image: url('https://picsum.photos/960/360');
        margin: 1rem 0;
    }
    
    .description {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .description a {
        text-decoration: none;
        color: #D8F3DC;
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        box-shadow: 0 0.1rem 0.6rem 0.1rem black;
        font-size: 1.5rem;
        transition: .3s;
    }
    
    /* IMAGE GALLERY */

    #gallery {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 5rem;
    }
    
    .image {
        height: 30rem;
        width: 30rem;
        margin: 5rem 0;
        border-radius: 5rem;
        box-shadow: 0 0.1rem 0.6rem 0.1rem black;
    }
    
    /* FOOTER/SOCIALS */
    .socials {
        width: 50%;
    }
    
    .socialLink {
        text-decoration: underline;
    }
    

}

@media (max-width: 500px) {

    /* LARGE IMAGE AND DESCRIPTION */
    
    .largeImage {
        width: 26rem;
        height: 22rem;
        border-radius: 2.5rem;
    }
    
    /* IMAGE GALLERY */

    #gallery {
        width: 75%;
        justify-content: space-around;
    }
    
    .image {
        height: 25rem;
        width: 25rem;
        border-radius: 2.5rem;
    }
    
    
}